NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_LOGGING=false

HEMIA_ID_BASE_URL=http://localhost:3000
HEMIA_ID_ADMIN_PREFIX=/api/v1
HEMIA_ID_TIMEOUT_MS=5000
HEMIA_ID_EXTERNAL_CLIENT_ID=
HEMIA_ID_EXTERNAL_CLIENT_SECRET=
HEMIA_ID_EXTERNAL_SCOPES=
HEMIA_ID_EXTERNAL_TOKEN_URL=/oauth/token
